.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.grid-item {
    background-color: #333;
    color: #ffeb3b;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px #888 solid;
}

.grid-item:hover {
    background-color: #f9a825;
    color: #333;
}
.grid-item:hover p,
.grid-item:hover i,
.grid-item:hover .icon-user::before,
.grid-item:hover .icon-phone::before,
.grid-item:hover .icon-eye::before,
.grid-item:hover .icon-list::before,
.grid-item:hover .icon-gear::before {
    color: black; 
}

.grid-item i{
    font-size: 3rem;
    margin-bottom: 10px;
}

[class^="icon-"] {
    font-size: 5vmin;
    float: center;
    color: #f9a825;
}




.grid-item a{
    text-decoration: none;
    color: inherit;
}

.grid-item p {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;

}




/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 2fr;
    }
}
