.contenido{
    overflow-x: visible;
}

.modal-credencials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}

p{
    margin-bottom: 1.5rem;
}

.ubicacion{
    margin-bottom: 1rem;
}

.ubicacion a{
    text-decoration: underline;
    color: goldenrod;
}

#update-credentials-form label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: #fff;
    display: block;
    width: 100%;
}

#update-credentials-form input[type="email"],
#update-credentials-form input[type="password"],
#update-credentials-form input[type="text"] {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #333;
    border: 1px solid #555;
}

#update-credentials-form input[type="email"]:focus,
#update-credentials-form input[type="password"]:focus {
    border-color: #ff9800;
    outline: none;
}

/* Mensaje de error para contraseñas */
#mensaje-error-password {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: none; /* Oculto por defecto */
}

/* Botón de guardar */
#guardar-credenciales-btn {
    background: linear-gradient(45deg, #f1e134, #f9a825);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: auto;
    
}

#guardar-credenciales-btn:hover {
    background: linear-gradient(45deg, #97900c, #824f08);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

#guardar-credenciales-btn:disabled {
    background: #c0c0c0;
    cursor: not-allowed;
    box-shadow: none;
}

/* Adaptabilidad para dispositivos pequeños */
@media (max-width: 900px) {
    .modal-credencials {
        padding: 15px;
        width: 100%;
    }
    
    #update-credentials-form label,
    #update-credentials-form input[type="email"],
    #update-credentials-form input[type="password"],
    #guardar-credenciales-btn {
        font-size: 0.9rem;
    }
}
