* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.main-container {
    margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del contenedor */
}

head link 

h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

/* Estilo general del botón de administrar cuenta */
.menu-cuenta-btn {
    background-color: transparent;
    color: #000000; /* Naranja */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    text-decoration: underline;
    box-shadow: none;
    margin-top: 10px;
}
.menu-cuenta-btn:hover {
    filter: invert(100%);
}

/* Estilos para el menú desplegable */
.account-menu {
    position: absolute;
    right: 10px;
    top: 60px; /* Ajusta según el diseño */
    background-color: #333; /* Gris oscuro */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    display: none; /* Oculto por defecto */
    z-index: 1000;
}

.account-menu.visible {
    display: block; /* Mostrar cuando sea visible */
}

.account-menu li {
    list-style: none;
    margin: 0;
    padding: 5px 15px;
}

.account-menu li a {
    text-decoration: none;
    color: #ff9800; /* Naranja */
    display: block;
}

.account-menu li a:hover {
    background-color: #444; /* Un poco más oscuro al pasar el cursor */
}


/* Imagen de usuario */
.menu-cuenta-btn{
    margin-right:1px  ;
    padding: 1px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.spinner {
    border: 0.25rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.3rem solid #f9a825;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background: linear-gradient(45deg, #ffeb3b, #f9a825);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    color: #000;
    width: 100%;
}

.logo {
    width: 3.5rem;
    margin-right: 1rem;
    vertical-align: middle;
    border-radius: 50%;
}

.nombre-principal {
    font-size: 1.89rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.info-usuario {
    font-size: 1.2em;
    display: flex; /* Para alinear elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 0.75rem;
    gap: 0.5rem; /* Espaciado entre el icono y el nombre */
}


.foto-usuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.contenedor {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px);
    /* Resta la altura del header (ajusta según sea necesario) */
    overflow: hidden;
    /* Evita el desbordamiento */

}

.menu {
    width: 22vw;
    background: linear-gradient(45deg, #1a1a1a, #333);
    padding: 1.25rem;
    box-shadow: 0.2rem 0 0.3rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    display: block;
    overflow-y: auto;
    max-height: 100vh;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 1rem;
}

.menu ul li a {
    color: #ffeb3b;
    text-decoration: none;
    font-size: 1.125rem;
    display: block;
    padding: 0.625rem 0.75rem;
    background-color: #222;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu ul ul {
    margin-top: 0.625rem;
    margin-left: 1.25rem;
}

.menu ul li a:hover{
    background-color: #f9a825;
    transform: translateX(0.625rem);
    color: #000;
}

.oculto {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.visible {
    max-height: 100vh;
    transition: max-height 0.5s ease-in-out;
}

.contenido {
    flex: 1;
    padding: 1.25rem;
    background-color: #333;
    color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-left: 1rem;
}

.menu ul li a.activo,
.submenu ul li a.activo {
    background-color: #f9a825; /* Fondo amarillo */
    color: #000; /* Texto negro */
    transform: translateX(0.625rem); /* Efecto visual de desplazamiento */
    border-radius: 0.3125rem; /* Borde redondeado */
    transition: all 0.3s ease;
}

.submenu.visible {
    max-height: 200px; /* Muestra el submenú */
    transition: max-height 0.5s ease-in-out;
}

.submenu.visible {
    max-height: 200px;
}


#notifications {
    margin-top: 2rem;
    background-color: #444;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#notifications h3 {
    color: #ffeb3b;
    margin-bottom: 0.625rem;
}

#notification-list {
    list-style: none;
}

#notification-list li {
    margin-bottom: 0.3125rem;
}

/* Estilos del botón de hamburguesa */
.menu-icon {
    display: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 10;
}

.menu-icon div {
    width: 100%;
    height: 0.25rem;
    background-color: #ffeb3b;
    margin: 0.4rem 0;
    transition: all 0.3s ease;
}

/* Animación del botón de hamburguesa */
#btn-menu:checked+.menu-icon div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#btn-menu:checked+.menu-icon div:nth-child(2) {
    opacity: 0;
}

#btn-menu:checked+.menu-icon div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Ajustes responsivos para mostrar el menú con el botón de hamburguesa */
@media (max-width: 915px) {
    header {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #222;
        flex-direction: column;
        padding-top: 2rem;
        z-index: 9;
        transform: translateX(-100%);
        transition: transform 0.5s ease, opacity 0.5s ease;
        padding-right: 13rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .contenido {
        max-height: calc(100vh - 60px);
        overflow-y: auto;
    }


    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul li {
        margin: 0.5rem auto;
        width: auto;
        text-align: left;
        max-width: 80%;
    }


    .menu ul li a {
        font-size: 1rem;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        padding-right: 10rem;
        font-size: 1.5rem;
        width: auto;
        text-align: left;
        max-width: 100%;
    }

    .menu-icon {
        display: block;
    }

    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        margin-left: 0.5rem;
    }

    .submenu.visible {
        max-height: 150px;
        overflow: visible;
    }

}

@media (max-width: 1240px) {
    .menu {
        width: 15vw;
    }
}


@media (max-width: 480px) {
    header {
        padding: 0.625rem;
    }

    .menu {
        width: 100%;
        padding: 1rem;
        max-height: 100vh; /* Asegura que el menú no sobrepase la altura de la pantalla */
    }

    .contenido {
        padding: 0.5rem;
        max-height: calc(100vh - 60px); /* Ajuste para asegurar que el contenido no desborde */
    }
}

/* Estilo del contenedor de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    height: 12px; /* Altura en el caso de scroll horizontal */
}

/* Estilo del pulgar */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar */
    border-radius: 10px; /* Borde redondeado */
}

/* Estilo del track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista */
    border-radius: 10px;
}