/* Sección de servicios */
.services {
    background-color: white; /* Fondo blanco */
    padding: 40px 20px;
    text-align: center;
    color: #333; /* Texto negro para contrastar */
    border-radius: 15px;
    margin: 20px;
}

.services h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #fff; /* Solo el título en naranja */
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* Espacio entre cada imagen */
    justify-items: center;
    padding: 0 2rem; /* Añadir padding lateral */
}

.service-box {
    background-color: white;
    color: #333;
    padding: 10px; /* Reducir padding interno */
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Reducir el tamaño de las burbujas para que no se empalmen */
}

.service-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-img img {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio debajo de la imagen */
}

h3 {
    margin-top: 10px;
    font-size: 16px; /* Reducir tamaño del texto */
    color: #333;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }

    .service-box {
        width: 100%; /* Ajustar el tamaño para móviles */
    }
}