table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

button {
    background: linear-gradient(45deg, #ffeb3b, #f9a825); /* Degradado amarillo */
    border: none;
    padding: 10px 20px;
    color: #222;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra del botón */
    transition: background 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1rem;
}


button:hover {
    background: linear-gradient(45deg, #fdd835, #ffeb3b); /* Degradado más claro */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

button.modificar {
    background: linear-gradient(45deg, #1e90ff, #00bfff); /* Degradado de azul claro a azul medio */
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button.modificar:hover {
    background: linear-gradient(45deg, #1c86ee, #1e90ff); /* Gradiente más intenso al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}

button.eliminar {
    background: linear-gradient(45deg, #ff4d4d, #ff0000); /* Degradado de rojo claro a rojo fuerte */
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button.eliminar:hover {
    background: linear-gradient(45deg, #ff3333, #ff4d4d); /* Gradiente más oscuro al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}