body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    background: linear-gradient(45deg, #ffeb3b, #f9a825); /* Degradado amarillo */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 15px; /* Bordes redondeados */
}

.catalogo-container {
    padding: 20px;
}

.catalogo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    background-color: #f4f4f4; /* Asegura que el fondo sea consistente */
}


.producto {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 220px; /* Mantiene el ancho fijo */
    text-align: center;
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    border-radius: 10px;
}

h3 {
    color: #333;
    font-size: 1.5em;
}

p {
    color: #666;
}

.precio {
    font-weight: bold;
    color: #28a745;
    font-size: 1.2em;
    margin: 10px 0;
}

.btn {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #ffc875;
}


/* Media Queries para tamaños de pantalla */
@media (max-width: 480px) {
    .producto {
        width: 220px; /* Mantiene el ancho fijo */
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .producto {
        width: 220px; /* Mantiene el ancho fijo */
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .producto {
        width: 220px; /* Mantiene el ancho fijo */
    }
}

@media (min-width: 1025px) and (max-width: 1240px) {
    .producto {
        width: 220px; /* Mantiene el ancho fijo */
    }
}

@media (min-width: 1241px) {
    .producto {
        width: 220px; /* Mantiene el ancho fijo */
    }
}
